{% macro gallery(items = [], layout = 'grid') %}
<section class="gallery" data-component="gallery" data-layout="{{ layout }}">
  <div class="gallery__grid">
    {% for item in (items if items.length else [{}, {}, {}]) %}
    <figure class="gallery__item">
      <img{% if item.image %} src="{{ item.image }}"{% endif %} alt="{{ item.alt or '' }}" loading="lazy">
      <figcaption class="gallery__caption">{{ item.caption or 'Gallery image caption' }}</figcaption>
    </figure>
    {% endfor %}
  </div>
</section>
{% endmacro %}
