<div class="notification" data-component="notification" data-type="{{ type or 'info' }}" role="alert">
  
  <span class="notification__accent"></span>
  <span class="notification__content"></span>

</div>
