{% macro section(theme = 'default') %}
<section class="section" data-component="section" data-theme="{{ theme }}">
  <div class="section__container">
    {%- if caller %}{{ caller() }}{% else %}<p>Section content</p>{% endif -%}
  </div>
</section>
{% endmacro %}
